<div id="base-slider">
  <div id="bs-arr-left" (click)="annoPrima();"><i class="fa fa-caret-left" [class.normalMove]="normalMoveStyle" [class.disabledMove]="disabledMoveStyleLeft" aria-hidden="true"></i></div>
  <div id="bs-mesi" >
    <div class="mese" *ngFor="let mese of mesi;let i = index;" [ngClass]="{'anim-anni': true}" [class.noValori]="countmesi[i] == 0" [style.animation-delay]="(i*0.05)+'s'" (click)="getCurrMese(mese['mese'],!(!(annoOra > mese.anno)&&!(meseOra>=i)))">
      <span class="nCorr" [style.animation-delay]="(i*0.10)+'s'" *ngIf="!(!(annoOra > mese.anno)&&!(meseOra>=i))">{{countmesi[i]}}</span><i class="fa fa-lock confermato" aria-hidden="true" [style.display]="mese.lockd" data-hover="tooltip" title="Confermato"></i><i class="fa fa-unlock-alt nonconfermato" aria-hidden="true" [style.display]="mese.norlockd" data-hover="tooltip" title="Non Confermato"></i>
      <span class="dettagliMese">{{mese.mese}}<br>{{mese.anno}}</span>

    </div>
  </div>
  <div id="bs-arr-right" (click)="annoDopo();"><i class="fa fa-caret-right" [class.normalMove]="normalMoveStyle" [class.disabledMove]="disabledMoveStyleRight" aria-hidden="true"></i></div>
</div>
