<div id="chat-form" class="fixed" style="height: 400px">

    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">
          Chat</div>
        <a href="javascript:;" class="chat-form-close pull-right"><i class="glyphicon glyphicon-remove">
        </i></a>
      </div>
      <div class="portlet-body">
        <div class="chat-scroller">
          <ul class="chats">
            <li class="in">
              <img [src]="avatarImageIo48" class="avatar img-responsive" />
              <div class="message">
                <span class="chat-arrow"></span><a href="#" class="chat-name">IO:</a>&nbsp;<span
                class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum
                                                                    dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                    ut laoreet dolore magna aliquam erat volutpat.</span></div>
            </li>
            <li class="out">
              <img [src]="avatarImageOperatore48" class="avatar img-responsive" />
              <div class="message">
                <span class="chat-arrow"></span><a href="#" class="chat-name">Operatore:</a>&nbsp;<span
                class="chat-datetime">at July 06, 2014 18:06</span><span class="chat-body">Lorem ipsum
                                                                    dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                    ut laoreet dolore magna aliquam erat volutpat.</span></div>
            </li>
            <li class="in">
              <img [src]="avatarImageIo48" class="avatar img-responsive" />
              <div class="message">
                <span class="chat-arrow"></span><a href="#" class="chat-name">IO:</a>&nbsp;<span
                class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum
                                                                    dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                    ut laoreet dolore magna aliquam erat volutpat.</span></div>
            </li>
            <li class="out">
              <img [src]="avatarImageOperatore48" class="avatar img-responsive" />
              <div class="message">
                <span class="chat-arrow"></span><a href="#" class="chat-name">Operatore:</a>&nbsp;<span
                class="chat-datetime">at July 06, 2014 18:06</span><span class="chat-body">Lorem ipsum
                                                                    dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                    ut laoreet dolore magna aliquam erat volutpat.</span></div>
            </li>
            <li class="in">
              <img [src]="avatarImageIo48" class="avatar img-responsive" />
              <div class="message">
                <span class="chat-arrow"></span><a href="#" class="chat-name">IO:</a>&nbsp;<span
                class="chat-datetime">at July 06, 2014 17:06</span><span class="chat-body">Lorem ipsum
                                                                    dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                                                    ut laoreet dolore magna aliquam erat volutpat.</span></div>
            </li>
          </ul>
        </div>
        <div class="chat-form">
          <div class="input-group">
            <input id="input-chat" type="text" placeholder="Type a message here..." class="form-control" /><span
            id="btn-chat" class="input-group-btn">
                                                        <button type="button" class="btn btn-green">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                    </span>
          </div>
        </div>
      </div>
    </div>

</div>
