.flex-div{
  display: flex;
}

.select-description{
  margin-right: 10px;
  position: relative;
  top: 10px;
}

.end-date{
  margin-left: 20px;
}

.customer-input{
  position: relative;
  top: 5px;
  width: 100%
}

.marg-bot-20{
  margin-bottom: 20px;
}

.marg-left-20{
  margin-left: 20px
}