<div class="page-content">
  <div class="panel income db mbm">
    <div class="panel-body">

      <app-fo-collapsible-bar headerText="Filtra per:">
        <div class="panel-body pan">

          <form>
            <div class="form-body pal">
              <div class="row"></div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="startDate" class="control-label">PERIODO DA:</label>
                    <div>
                      <p-calendar id="startDate" name="startDate" [(ngModel)]="startDate" [inputStyle]="{'width': '100px'}" ></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="endDate" class="control-label">A:</label>
                    <div>
                      <p-calendar id="endDate" name="endDate" [(ngModel)]="endDate" [inputStyle]="{'width': '100px'}"></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="invoiceStart" class="control-label">TOTALE FATTURA DA:</label>
                    <input id="invoiceStart" name="invoiceStart" [(ngModel)]="invoiceStart" class="form-control" type="number" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="invoiceEnd" class="control-label">A:</label>
                    <input id="invoiceEnd" name="invoiceEnd" [(ngModel)]="invoiceEnd" class="form-control" type="number" />
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    STATO:
                    <select class="form-control" name="statusSelect" [(ngModel)]="statusSelect">
                      <option value="">Tutti</option>
                      <option value="BOZZA">Bozza</option>
                      <option value="CONFERMATO">Confermato</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    PAGAMENTO:
                    <select class="form-control" name="paymentSelect" [(ngModel)]="paymentSelect">
                      <option value="">Tutti</option>
                      <option value="NON_PAGATO">NON_PAGATO</option>
                      <option value="SALDATO">SALDATO</option>
                      <option value="PAGATO_PARZIALE">PAGATO_PARZIALE</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="form-group">
                    <label for="customerSearch" class="control-label"></label>
                    <input id="customerSearch" name="customerSearch" [(ngModel)]="customerSearch" placeholder="filtra per Ragione Sociale o P.IVA" class="form-control" />
                  </div>
                </div>

                <div class="col-md-1">
                  <div class="form-group">
                    <label class="control-label"></label>
                    <button class="btn btn-orange form-control fa fa-search" (click)="search()"></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </app-fo-collapsible-bar>
      <app-fo-data-table [value]="invoices" [columns]="cols" [paginator]="false" [rows]="20" (onRowSelectEvent)="onRowSelectEvent($event)"
        [pageLinks]="4" selectionMode="single"></app-fo-data-table>

    </div>
  </div>
</div>
