<div class="page-content">
  <div class="panel income db mbm">
    <div class="panel-body">

      <app-fo-collapsible-bar headerText="Filtra per:">
        <div class="panel-body pan">

          <form>
            <div class="form-body pal">
              <div class="row"></div>
              <div class="flex-div-lg">

                <div class="flex-div-lg">
                  <div class="flex-div-lg">
                    <div class="marg-bot-5">
                      PERIODO DA:
                    </div>
                    <div class="marg-bot-10">
                      <p-calendar name="startDate" [(ngModel)]="startDate"></p-calendar>
                    </div>
                  </div>
                  <div class="flex-div-lg">
                    <div class="marg-bot-5">
                      A:
                    </div>
                    <div class="marg-bot-10">
                      <p-calendar name="endDate" [(ngModel)]="endDate"></p-calendar>
                    </div>
                  </div>
                </div>

                <div class="flex-div-lg">
                  <div class="flex-div-lg">
                    <div class="marg-bot-10">
                      TOTALE FATTURA DA:
                    </div>
                    <div class="marg-bot-10">
                      <input name="invoiceStart" [(ngModel)]="invoiceStart" class="marg-left-20 mob-width" type="number" />
                    </div>
                  </div>
                  <div class="flex-div-lg">
                    <div class="marg-bot-10">
                      A:
                    </div>
                    <div class="marg-bot-10">
                      <input name="invoiceEnd" [(ngModel)]="invoiceEnd" class="marg-left-20 mob-width" type="number" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <div class="flex-div">
                      <div class="select-description">
                        STATO:
                      </div>
                      <select class="form-control" name="statusSelect" [(ngModel)]="statusSelect">
                      <option value="">Tutti</option>
                      <option value="BOZZA">Bozza</option>
                      <option value="CONFERMATO">Confermato</option>
                    </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <div class="flex-div">
                      <div class="select-description">
                        PAGAMENTO:
                      </div>
                      <select class="form-control" name="paymentSelect" [(ngModel)]="paymentSelect">
                      <option value="">Tutti</option>
                      <option value="NON_PAGATO">NON_PAGATO</option>
                      <option value="SALDATO">SALDATO</option>
                      <option value="PAGATO_PARZIALE">PAGATO_PARZIALE</option>
                    </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <div class="flex-div">
                      <input name="customerSearch" [(ngModel)]="customerSearch" placeholder="filtra per Ragione Sociale o P.IVA" class="customer-input marg-left-20"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-1">
                  <div class="form-group">
                    <button class="btn btn-orange form-control fa fa-search" (click)="search()"></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </app-fo-collapsible-bar>
      <app-fo-data-table [value]="invoices" [columns]="cols" [paginator]="false" [rows]="20" (onRowSelectEvent)="onRowSelectEvent($event)"
        [pageLinks]="4" selectionMode="single"></app-fo-data-table>

    </div>
  </div>
</div>